// menu horizontal simple
// replié sur mobile et tablette
// -----------------------------

$toggle-menu-bg-color:          $primary-color;
$toggle-menu-text-color:        #fff;

$toggle-menu-bg-color-hover:    #000;
$toggle-menu-text-color-hover:  #fff;

$toggle-menu-bg-color-open:     $gray-2;
$toggle-menu-text-color-open:   #fff;

$menu-simple-bg-color:          $primary-color;
$menu-simple-text-color:        #fff;

$menu-simple-bg-color-hover:    #000;
$menu-simple-text-color-hover:  #fff;

$menu-simple-bg-color-open:     #000;
$menu-simple-text-color-open:   #fff;


@import "style-menu-simple";
