// Browsehappy
// --------------------------------------------------
// cf http://browsehappy.com/

// styles
.browsehappy {
  p {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    color:red;
  }

  a  {
    color: $link-color;
    text-decoration: underline;
  }
}
