// Mixins sr-only-*
// =======================================================================


// Lu uniquement par les vocaliseurs d'écrans
// ------------------------------------------
@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// force la visibilité d'un élément auparavant sr-only
// ---------------------------------------------------
@mixin sr-only-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0;
  overflow: visible !important;
  clip: auto;
}

// N'est visible qu'à la prise de focus
// ---------------------------------------------------
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
